<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
  <h1>ChordConverter</h1>
  <div class="instructions">
  	<p><b>Instructions:</b> Input text where lines containing chords to be transposed only contain chord names. Then click on the appropriate button to indicate the number of half steps to transpose your chords by.</p>
  </div>
  <form action="{{url_for('transpose')}}" method="post">
  	<ul>
  		<li><button type="submit" name="submit_button" value="-7">-7</li
  		><li><button type="submit" name="submit_button" value="-6">-6</li
  		><li><button type="submit" name="submit_button" value="-5">-5</li
  		><li><button type="submit" name="submit_button" value="-4">-4</li
  		><li><button type="submit" name="submit_button" value="-3">-3</li
  		><li><button type="submit" name="submit_button" value="-2">-2</li
  		><li><button type="submit" name="submit_button" value="-1">-1</li
  		><li><button type="submit" name="submit_button" value="1">+1</li
  		><li><button type="submit" name="submit_button" value="2">+2</li
  		><li><button type="submit" name="submit_button" value="3">+3</li
  		><li><button type="submit" name="submit_button" value="4">+4</li
  		><li><button type="submit" name="submit_button" value="5">+5</li
  		><li><button type="submit" name="submit_button" value="6">+6</li
  		><li><button type="submit" name="submit_button" value="7">+7</li>
  	</ul>
  	<textarea name="text">{{value}}</textarea>
  </form>
  <div class="output">{{output}}
  </div>

</body>