<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <h1>ChordConverter</h1>
  <div class="instructions">
  	<p><b>Instructions:</b> Input text with lines of chords preceded by an asterisk (*) into the left box. Then click on the appropriate box to indicate the number of half steps to transpose your chord by.</p>
  </div>
  <ul>
  	<li>-7</li
  	><li>-6</li
  	><li>-5</li
  	><li>-4</li
  	><li>-3</li
  	><li>-2</li
  	><li>-1</li
  	><li>1</li
  	><li>2</li
  	><li>3</li
  	><li>4</li
  	><li>5</li
  	><li>6</li
  	><li>7</li>
  </ul>
  <form>
  	<textarea>Input chords here.</textarea>
  </form>
  <div class="output">
  </div>

</body>